//  Import fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@200;300&display=swap');

// Animations
@keyframes imgTopToBottom {
  0% {
    top: 15%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

@keyframes titleTopToBottom {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes subtitleTopToBottom {
  0% {
    top: 51%;
    opacity: 0;
  }
  100% {
    top: 56%;
    opacity: 1;
  }
}

// Components
.container {
  width: 70%;
  margin: auto;
}

.box {
  border: 0.5px solid $primary;
  padding: 20px 15px 5px 15px;
  border-radius: 5px;
  box-shadow:  0 0 20px rgba(0, 78, 7, 0.7);
}